/*
 * ----------------------------------------------
 * General Styling
 */

#kt_header_menu_wrapper {
    position: absolute;
    left: 40px;
    top: 3px;
}

.typewriter {
    display: block;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
    animation: typing 10s steps(7, end) infinite,
    blink-caret 1s step-end infinite;
    mix-blend-mode: difference;
    color: white;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 16px;
}

#bg-info-span {
    opacity: 25%;
    font-size: 12px;
    position: absolute;
    top: 65px;
    right: 0;
    color: black;
    background-color: white;
    padding: 2px 6px 2px;
}

#kt_header,
#kt_app_header {
    background-position: center;
}

#kt_header > video,
#kt_app_header > video {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width: 101%;
    height: 100%;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

span.menu-text > span:last-of-type {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 8px 14px;
    background-color: #1e1e2d;
    color: white;
    border-top-left-radius: 10px;
}

#shopversion,
#help_link_in_header_top,
#shop_link_in_header_top {
  background-color: #ffffff;
}

/*
 * ----------------------------------------------
 * Typewriter effect
 */
@keyframes typing {
    0% {
        width: 0
    }
    30% {
        width: 100%
    }
    70% {
        width: 100%
    }
    100% {
        width: 0;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: red;
    }
}

/*
 * ----------------------------------------------
 * Media queries 
 */
@media (max-width: 1200px) {
    #kt_header {
        background-size: cover !important;
    }
}

@media (max-width: 992px) {
    #bg-info-span {
        top: 55px;
    }
}
